*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LOGO FLOTANTE WHATSAAP*/
.whatsapp{
    margin-top: 20px;
    z-index: 9999;
    bottom: 200px;
    right: 35px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(40, 179, 28);
    cursor: pointer;
    animation: agrandar-boton 2s ease-in-out infinite;


}

.whatsapp img{
    width: 100%;
}
/*AQUI TERMINA*/






.ecofilter_contenido{
    width: 100%;
    height: 100%;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.nav_eco{
    align-items: center;
    justify-content: space-between;
}

.logo_eco{
    width: 45%;
}

.ecofil_logo{
    width: 100%;
}
.ecofil_hamburguer{
    width: 110%;
}
.icon_nav{
    margin-right: 15px;
}

.links{
    display: none;
}

/* seccion de textos e imagenes*/
.contenido-texto_imagen{
    margin-top: 50px;
    width: 100%;

}

.textos_eco{
    width: 90%;
    margin: 0 auto;
    color: black;
}

.titulo{
    color: rgb(74, 74, 74);
    font-size: 1.1em;
    margin: 0 auto;
    text-align: center;
    font-size: "Calibri";
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitulo{
    text-align: center;
    font-size: 1.6em;
    font-family: sans-serif;
}

.promocion{
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
}
.promocion span{
    color: rgb(52, 171, 52);
    font-style: italic;

}

.img_purificador{
    margin-top: 60px;
    width: 100%;
    position: relative;
}

.centro_contenido{
    width: 90%;
    margin: 0 auto;
}


.fondo{
    position: absolute;
    background-color:  rgba(54, 197, 54, 0.45);
    height: 170px;
    width: 100%;
    top: 169px;
}

.texttitos{
    position: absolute;
    right: 0;
    top: 30%;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 12px;


}
.numero{
    font-size: 65px;
}

.descuento{
    font-size: 16px;
    letter-spacing: 7px;
}


/*checkbox*/

.checkbox{
    margin-top: 100px;
    width: 100%;
}
.contenido_checkbox{
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.texto_1{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: lighter;
}
.texto_2{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: lighter;

}


/*Beneficios*/
.Beneficios_Carrusel{
    margin-top: 90px;
    width: 100%;
}
.contenido_textos_carrusel{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.titulo_carrusel{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(31, 184, 31);
}

.subtitulo_carrusel{
    font-family: monospace;
    font-size: 22px;
    color: rgb(10, 28, 66);
}

/*slider de beneficios*/
.slider_para_dispositivos_grandes {
    width: 90%;
    height: 490px;
    max-height: 500px ;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}
.ele1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-image: url(./img/tomandoagua.webp);
    background-size: cover;
}


.ele2{
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    background-image: url(./img/repartidorcansado.avif);
    background-size: cover;
    background-position: center;
}

.ele3{
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    background-image: url(./img/alimentos.jpg);
    background-size: cover;
    background-position: center;
}

.lista_Textos_Descriptivo{
    width: 90%;
    margin: 0 auto;
    display: block;
    font-family: Georgia, serif;
        
}

.texto1{
    margin: 10px 0;
}

.texto2{
    margin: 10px 0;
}

  /*seccion caracteristica*/

.caracteristicas{
    margin: 0 auto;
    margin-top: 150px;
    overflow: hidden;
    width: 90%;
    height: auto;
}

.caracterisiticas_texto{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.titulo_caracteristica{
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(31, 184, 31);
}

.subtitulo_caracteristica{
    font-family: monospace;
    font-size: 22px;
    color: rgb(10, 28, 66);
}

/* contiene la imagen junto con los textos a la derecha*/
.caracteristica_imagen{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 400px;
}
.imagen_de_tres_filtros{
    width: 50%;
}
.img_filtroTresCapas{
    height: 100%;
    width: 75%;
}


.textos_de_tres_filtros{
    margin-top: 40px;
    width: 50%;
    overflow: hidden;
}


.bot_texto{
    font-size: 16px;
   margin: 10px 0 20px;

}
.bot_texto span{
    font-weight: bold;
}


.bot_texto_dos{
    font-size: 16px;
    margin: 0 0 20px;
}
.bot_texto_dos span{
    font-weight: bold;
}


.bot_texto_tres{
    margin: 30px 0 10px;
    font-size: 16px;
}
.bot_texto_tres span{
    font-weight: bold;
}

/*llave de acero img y texto*/

.seccion_llave_acero{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}


.imgs_llavedeacero{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 ;
    display: flex;
}
.acero_img{
    width: 40%;
    object-fit: cover;
}
.acero2_img{
    width: 60%;
    object-fit: cover;
}

.content_texto_acero{
    margin: 0 auto;
    display: block;
    width: 90%;
}


.texto_acero{
    font-family: serif;
    text-align: start;
    font-size: 18px;
    padding-bottom: 20px;
}


/*caracterisiticas propileno y img*/
.caracterisitica_polipropileno{
    margin-top: 80px;
    width: 100%;
}
.imgs_polipropileno{
    margin: 0 auto;
    width: 100%;
    display: flex;
}
.img_propi{
    width: 30%;
}
.propileno_img{
    width: 70%;
}

/*textos*/
.content_texto_propileno{
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    font-size: 17px;
    font-family: sans-serif;
}

.texto_material{
    margin-bottom: 10px;
}

.texto_material span{
    font-weight: bold;
}

.texto_tamaño{
    margin-bottom: 10px;
}
.texto_tamaño span{
    font-weight: bold;
}

.texto_color span{
    font-weight: bold;

}


/* footer con olas*/

footer{
    margin-top: 150px;
    position: relative;
    width: 100%;
}

footer .waves{
    position: relative;
}

footer .waves .wave{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url(./img/wave.png);
    background-size: 1000px 100px;
}

footer .waves .wave#wave1{
    opacity: 1;
    bottom: 0;
    z-index: 1000;
    animation: animate 4s linear infinite;
}

footer .waves .wave#wave2{
    opacity: 0.5;
    bottom: 10px;
    z-index: 999;
    animation: animate2 4s linear infinite;
}

footer .waves .wave#wave3{
    opacity: 0.2;
    bottom: 15px;
    z-index: 998;
    animation: animate 2s linear infinite;
}

footer .waves .wave#wave4{
    opacity: 0.7;
    bottom: 20px;
    z-index: 999;
    animation: animate2 2s linear infinite;
}


.textos_footer{
    width: 100%;
    height: 80vh;
    background-color: rgb(42, 134, 255);
}

.contenido_total_footer_textos{
    width: 90%;
    margin: 0 auto;
}

.marca-content{
    padding-top: 20px;
}
.marca{
    margin-bottom: 35px;
    font-size: 40px;
    font-family: Verdana;
    color: rgb(201, 232, 255);
}


.nuestrosDatos{
    width: 90%;
    font-family: arial;
    color: white;
    align-items: center;
    gap: 30px;

}

.nuestrosDatos .icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.email{
    margin-top: 15px;
    margin-bottom: 15px;

}


.redes_sociales_footer{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    color: white;
}

.visita{
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
.lasredes{
    gap: 30px;
}
.icon_redes{
    width: 12%;
}

.derechosR{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.dr{
    color: white;
    font-size: 17px;
}



/*animacion boton de whatsapp*/

@keyframes agrandar-boton {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


@keyframes animate {
    0%{
        background-position-x: 1000px;
    }100%{
        background-position-x: 0px;
    }
    
}

@keyframes animate2 {
    0%{
        background-position-x: 0px;
    }100%{
        background-position-x: 1000px;
    }
    
}



@media (min-width:675px){

    .nav_eco{
        height: 160px;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

    }

    .logo_eco{
        width: 30%;

    }


    .icon_nav{
        display: none;
    }
    .links{
        display: flex;
        gap: 36px;
    }
    .link{
        list-style: none;
    }
    
    .main_link{
        padding: 10px;
        text-decoration: none;
        color: rgb(5, 84, 5);
        font-size: 1.3em;
    }

    .main_link:hover{
        transition: 1s;
        background-color: green;
        color: white;
        border-radius: 12px;
        
    }

    .titulo{
        font-size: 2.3em;
    }
    .subtitulo{
        font-size: 3.4em;
    }
    .promocion{
        font-size: 1.5em;
    }
    

    .improvisado{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img_purificador{
        width: 60%;
        height: 50%;
    }
    .purificador{
        width: 70%;
    }
    .fondo{
        position: absolute;
        background-color:  rgba(54, 197, 54, 0.45);
        height: 200px;
        width: 100%;
        top: 140px;
    }
    .numero{
        font-size: 5em;
    }
    .descuento{
        font-size: 2em;
    }
    
    .checkbox{
        width: 40%;
    }
    .texto_1{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 23px;
        text-align: justify;
        font-weight: lighter;
    }
    .texto_2{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 23px;
        text-align: justify;
        font-weight: lighter;
    
    }
    .titulo_carrusel{
        font-size: 3.5em;
    }
    .subtitulo_carrusel{
        font-size: 2.4em;
    }
    .slider{
        display: none;
    }
    .slider_para_dispositivos_grandes{
        width: 90%;
        height: 500px;
        margin: 0 auto;
        margin-top: 50px;
        gap: 5px;
        background-color: rgb(203, 203, 203);
        border-radius: 20px;
        display: grid;
        grid-template-areas: 
        "ele1 ele1 ele2 ele2 ele2"
        "ele1 ele1 ele2 ele2 ele2"
        "ele1 ele1 ele3 ele3 ele3"
        "ele1 ele1 ele3 ele3 ele3"
        "ele1 ele1 ele3 ele3 ele3";
    }
    .ele1{
        border-radius: 10px 0 0 10px;
        grid-area: ele1;
        background-image: url(./img/alimentos.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .ele2{
        border-radius: 0 10px 0 0;
        grid-area: ele2;
        background-image: url(./img/tomandoagua.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .ele3{
        border-radius: 0 0 10px 0;
        position: relative;
        grid-area: ele3;
        background-image: url(./img/repartidorcansado.avif);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .lista_Textos_Descriptivo{
        padding: 10px 0;
        border-radius: 20px;
        background-color: rgb(203, 203, 203);
        text-align: center;
        gap: 100px;
    }
    .lista_Textos_Descriptivo h1{
        font-size: 20px;
        font-weight: bold;
    }
    .caracteristica_imagen{
        height: 500px;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;

    }

    .imagen_de_tres_filtros{
        width: 50%;
    }
    .img_filtroTresCapas{
        width: 50%;
        height: 100%;
    }
    .bot_texto{
        font-size: 25px;
    }
    .bot_texto_dos{
        font-size: 25px;
    }
    .bot_texto_tres{
        font-size: 25px;
    }
}
















